:root{
  --primary: #A94B08 
  --light-blue: #70D4EA
  --orange: #FF603D
}


body {
  width:100vw;
  height: 100vh;
  font-family: "Inria Sans", serif;
  overflow: clip;
  background-color: #EFEFEF;
}

.circle{
  width: 27px;
  height: 27px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%

}

.circle > img{
  width: 1rem;
  height: 1rem;
}

.orange > img{
  rotate: 180deg
}


.text-blue{
  color: #70D4EA;
}

.text-orange{
  color: #FF603D;
}


.blue{
  background-color: #70D4EA;
}

.orange{
  background-color: #FF603D;
}


.brown {
  background-color: #A94B08;
}

.gray{
  background-color: #717171;
}

.arrowDown{
  width: 24px;
}

.margin-auto{
  margin: 0 auto;
}

.card {
  display: flex;
  align-items: start;
  border: 0;
  border-radius: 12px;
  width: 15%;
  height: 14rem;
  min-height: 12.5rem;
  min-width: 10rem;
}

.mb-gasto{
  margin-bottom: -.5rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

ul {
  padding-left: 0;
}

button {
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}


@media (max-width: 600px) {
  .recents{
    min-width: 90%;
  }

  .card-conteiner{
    overflow-x: auto;
    width: 100%
  }
}